@font-face{
  font-family: defaultFont;
  src : url(href="./fonts/SpoqHanSansNeo");

}

*{
  font-family: defaultFont;
}

body {
  background: linear-gradient(to bottom, #2CA4F4 70%,#C2E6FB);
  background-repeat: no-repeat;
  height: 100vh;
}

.thankUCard{
	/*
		구름 느낌 뿜뿜하는 '상업용 무료'폰트가 필요하다.
	*/
  text-align: center; 
  color: #fff;  
  font-weight: bold;
  font-size: 6em;
}
